@font-face {
    font-family: 'EudoxusSans-Medium';
    src: url("../Eudoxus-Sans-font/EudoxusSans-Medium.woff");
}
@font-face {
    font-family: 'EudoxusSans-Regular';
    src: url("../Eudoxus-Sans-font/EudoxusSans-Regular.woff");
}
@font-face {
    font-family: 'EudoxusSans-Bold';
    src: url("../Eudoxus-Sans-font/EudoxusSans-Bold.woff");
}

